<section id="slider" ng-repeat="caro in mainModel">
	<h1 class="hidden">{{caro.name}}</h1>
	<div id="{{caro.name}}" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#{{caro.name}}" data-slide-to="{{sl.order}}" class="" ng-class="{active:$first}" ng-repeat="sl in caro.slide"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item" ng-class="{active:$first}" ng-repeat="sl in caro.slide">
	      <img src="{{sl.imgUrl}}" alt="{{sl.imgUrlAlt}}">
	      <div class="carousel-caption">
	        {{sl.caption}}
	      </div>
	    </div>	    
	  </div>

	  <!-- Controls -->
	  <span class="left carousel-control" data-target="#{{caro.name}}" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </span>
	  <span class="right carousel-control" data-target="#{{caro.name}}" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </span>
	</div>
</section>