<a class="btn btn-link" href="#/admin/carousels">Go Back</a>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Carousel</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateCarousel()" ng-init="getCarouselById()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="caro.name" placeholder="Name">
        </div>
        <div class="form-group">
          <label>Slider ObjectIds Associated</label>
          <input type="text" class="form-control" ng-model="caro.slide" placeholder="ObjectId">
        </div>
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control" ng-model="caro.status" placeholder="Status">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <a class="btn btn btn-default" href="#/admin/carousels/saveRef/{{caro._id}}">Add Slide</a>
      </form>
    </div>
    </div>
  </div>
</div>